---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import FeatureCard from '../../components/cards/FeatureCard.astro'

const seo = {
	title: 'Services | Myco',
	description: 'Services Page',
};
const quoteLink = '/company/contact'

---
<script>
  const residentialButtton = document.getElementById('residential') as HTMLElement;
  const residentialContent = document.getElementById('services-body-residential') as HTMLElement;

  const commercialButtton = document.getElementById('commercial') as HTMLElement;
  const commercialContent = document.getElementById('services-body-commercial') as HTMLElement;

// Toggle the "hidden" class when the "Commercial" link is clicked
commercialButtton.addEventListener('click', () => {
  commercialContent.classList.remove('hidden');
  residentialContent.classList.add('hidden');
});
residentialButtton.addEventListener('click', () => {
  commercialContent.classList.add('hidden');
  residentialContent.classList.remove('hidden');
});
</script>


<Layout {seo}>

			<h1>Services</h1>
      <section id="services-hero">
          <a  id="commercial">
            <img
              src="/assets/images/building.svg"
              alt="Commercial Building"
              id="icon-building"
            />
            <p>Commercial</p>
          </a>
          <a id="residential">
            <img
              src="/assets/images/house.svg"
              alt="house"
              id="icon-house"
            />
            <p>Residential</p>
          </a>
      </section>

      <section id="services-body">
  
          <div id="services-body-residential">
            <div class="services-body-header">
              Residential Scaffolding Header
            </div>
            <div class="services-body-content">
              <div>
                <img
                src="/assets/images/house.svg"
                alt="house"
                id="icon-house"
              />
              </div>
              <div>
                
                <ul> <span>asdf</span>
                  <li>asd asdf asdf asdf asd fasdfasd </li>
                  <li>asd asdf asdf asdf asd fasdfasd fasdfa sdfasd asdff</li>
                  <li>asd asdf asdf asdf asd sdfasd asdff</li>
                  <li>asd asdf asdf asdf asd fasdfasd fasdfa sdfasd asdff</li>
                  <li>asd asdf asd fasdfasd fasdfa sdfasd asdff</li>
                  <li>asd asdf asdf asdf asd fasdfasd fasdfa sdfasd asdff</li>
                  <li>asd asdf asdf asdf asd fasdfasd  asdff</li>
                </ul>
              </div>
            </div>

          </div>

          <div id="services-body-commercial" class="hidden">
            <div class="services-body-header">
              Commercial Scaffolding Header
            </div>
            <div class="services-body-content">
              <div>
                <img
                src="/assets/images/building.svg"
                alt="building"
                id="icon-building"
              />
              </div>
              <div>
                
                <ul> <span>Commercial</span>
                  <li>asd asdf asdf asdf asd fasdfasd </li>
                  <li>asd asdf asdf asdf asd fasdfasd fasdfa sdfasd asdff</li>

                </ul>
              </div>
            
            </div>


          </div>
          <div class="services-body-footer">
            <a href={quoteLink}><button >Get a Quote</button></a>

          </div>


      </section>
	




  
</Layout>
<style>
#services-hero{
  background-color: aqua;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: center;
  & a {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding-top: 1rem;
    &:hover{
      background-color: azure;
      border: 0px solid blue;
      border-radius: 10%;
      box-shadow: 2px 2px 8px rgb(0, 0, 0);
      font-weight: 600;
      cursor: pointer;
    }
    & img {
      display: flex;
      margin: auto;
      width: 50%;
    }
    & p {
      text-align: center;
      width: 100%;
      font-size: 1.5rem;
    }
  }
}
#services-body{
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 100%;
  & .servicesBodyHeader {
    display: flex;
    width: 90%;
    margin: 0px auto;
    background-color: aquamarine;
  }
  & .services-body-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: 0px auto;
    background-color: tomato;
    & div {
      display: flex;
      width: 50%;
      padding: 1rem;
    }

  }
  & .hidden{
    display: none;
  }
  & .services-body-footer {
    display: flex;
    width: 90%;
    height: auto;
    margin: 0px auto;
    background-color: aquamarine;
    & a {
      display: flex;
      width: 60%;
      margin: 0px auto;
      font-weight: 800;
      padding: 1rem;
      text-decoration: none;
      & button {
        margin: auto;
      }
    }
  }
}




</style>