---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';



const seo = {
	title: 'About | Myco',
	description: 'About Page',
};

const logoBig = "https://res.cloudinary.com/daa3cj6jz/image/upload/v1717725094/blue-atlas-5000x4000-white-bg_e4iagg.png"
---

<Layout {seo}>
	
	<HeroSection>
		<div slot="text-container">
			<h1>About Myco</h1>
			<p>
				&nbsp; &nbsp; At Myco Scaffold, we are not just a business; we are the legacy of a family that has been the backbone of construction projects across Sacramento for three generations. We forge enduring relationships that stand the test of time, much like the structures we help to build. Our clients don't just see us as a provider; they see us as a partner in progress, elevating their projects with meticulous care and an unwavering commitment to safety.
			</p>
		</div>
		<picture slot="image-container">
			<!-- <img
				src="/assets/images/home/classic-hero.jpg"
				alt="Astro Odyssee"
				id="home-hero-image"
			/> -->
			<img src={logoBig}/>
		</picture>
	</HeroSection>
	<TextSection narrow>
		
	</TextSection>
</Layout>
