:root {
	/* Theme Colors */
	/* pallete
		--vivid-sky-blue:#wec4efff;
		--sunset: #ebcc9dff;
		--silver: #a7a7a7ff;
		--black-ish: #OOOOOOff;
		--white: #ffffff;
	
	*/
	--theme-primary: #2ec4efff;
	--theme-primary-hover: hsl(0, 0%, 20%);
	--theme-on-primary: black;

	--theme-bg: #171717;
	--theme-on-bg: white;

	--theme-surface-1: #a7a7a7ff;
	--theme-on-surface-1: black;

	--theme-surface-2: #ebcc9dff;
	--theme-on-surface-2: yellow;

	/* Theme Shapes */
	/* Set this to 0 if you want all of the rounded cards, images, etc to be straight edges */
	--theme-shape-radius: clamp(1rem, 2rem, 3rem);
	--theme-button-border-radius: 3rem;
	--theme-button-padding: 0.36rem 0.92rem;

	/* Theme Transition */
	--theme-transition: 0.2s ease-in-out;

	/* Theme Layout */
	--section-margin: 3rem;
	--theme-grid-gap: 1rem;
	--container-max-width: 1440px;
	--container-max-width-narrow: 960px;
	--container-padding: 0 1rem;

	--theme-blog-post-header-width: 1200px;

	/* Theme Fonts */
	--theme-font-family-serif: 'Roboto Mono', Georgia, Cambria, 'Times New Roman',
		Times, serif;
	--theme-font-family-sans: 'Lato', -apple-system, BlinkMacSystemFont,
		sans-serif;
}