html,
body {
	display: block;
	height: 100%;
	width: 100vh;
}

body {
	max-width: 1320px;
	min-width: 400px;
	margin: 0 auto;
	background-color: var(--theme-bg);
	position: relative;
}

pre {
	padding: 1em;
	border-radius: 0.5em;
	overflow: auto;
}

pre .language-id {
	display: none;
}

