{{ define "main" }}
<div class="min-h-80 ">
  <div class="headerImageContainer">
    <div class="photo-attr">
      <span>
        <a href="{{ .Site.Params.contactpage.PhotoAttrUrl }}" target="_blank"> {{ .Site.Params.contactpage.PhotoAttrText }}
        </a>
      </span>
    </div>
    <img
        src="{{.Site.Params.contactpage.headerImageUrl}}"
        alt="{{.Site.Params.contact.headerImageAltText}}"
        class="headerImage"
        width="1000"
        height="300">

  </div>
    <div class="container">

    <hgroup>
      {{ partial "breadcrumbs.html" . }}
      <h1>{{ .Title }}</h1>
      <h2>{{ .Description }}</h2>
      <div>

          
   
      </div>
    </hgroup>
    
    <iframe 
      name="lc_contact_form" 
      class="iframe rounded-sm"
      frameborder="0" 
      width="100%" 
      height="600" 
      src="https://683865.17hats.com/p#/embed/wssdgxvwcwbcntkbgbkrvhrdrsgdpnhw">
    </iframe>

    

    <script 
      type="text/javascript" 
      src="https://683865.17hats.com/vendor/iframeSizer.min.js">
    </script>


    
    </div>
</div>
{{ end }}