---
import Layout from '../layouts/Page.astro'
import { emailIcon } from '../icons/icons';
import ContactCard from '../components/cards/ContactCard.astro';
import settings from '../config/settings';
import type { JsxElement } from 'typescript';
import type { JSX } from 'astro/jsx-runtime';
import Services from '../components/sections/Services.astro';
import { Icon } from 'astro-icon/components'


interface Props {

	email?: string,
	phone?: string,
	contractorsLicense?: string;

}
const seo = {
	title: 'Myco Scaffold',
	description: 'Full service scaffold company. Residential, commercial, and specialty applications serving the greater Sacramento area.',
};
const logoBig = "https://res.cloudinary.com/daa3cj6jz/image/upload/v1717725094/blue-atlas-5000x4000-white-bg_e4iagg.png"
const description = settings.description;



console.log("SEO DATA",seo)
---

<Layout {seo}>
	<main>

		<div class="homeHero">
			<div class="logoContainer">
				<img src={logoBig}/>	
			</div>
			<div class="title">Myco Scaffold</div>
			<div class="descriptionSubheading2">{description}</div>
			<div class="readMore">
				<div class="button" onclick="window.location.href='#servicesHero'">
					<Icon name="mdi:chevron-down" class="icon" />  
					&nbsp; Services
				</div>
			</div>
			</div>

			 <!-- homeHero -->
		<div id="servicesHero">
			<h2 id="servicesTitle">Services</h2>
			<div class="categoryContainer">
				<div class="category">Residential</div>
				<div class="category">Commercial</div>
				<div class="category">Industrial</div>
			</div>
		 </div> <!-- servicesHero -->
<div class="descriptionSubheadng">{description}</div>

		<ContactCard/>
		<!-- <Services/> -->

</main>
</Layout>

<style>
:root{

	a {
		text-decoration: none;
	}


	main {
		display: flex;
		flex-direction: column;
		margin: auto;
		margin-top: 0px;
		height: auto;
		width: 100%;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
.icon{
	display: flex;
	margin: auto;
}

	.homeHero{
		display:flex ;
		width: max-content;
		height:90vh;
		flex-direction: column;
		margin-inline: auto;
		margin-top: 0px;
	
		& .descriptionSubheading2{
			display: flex;
			width: max-content;
			margin-inline: auto;
			text-align: center;
			font-size: 2rem;
			transition-timing-function: ease-in-out 300;
		}
		& 		svg{
			display: flex;
				width: 3rem;
				height: 1.8rem;
				margin: auto;
			}
		&	.readMore {
					display: flex;
					margin-inline: auto;
					margin-top: auto;
					margin-bottom: 2rem;
					height: max-content;
					width: 100%;
		}
	}

	.title {
			font-family: 'Stick No Bills Variable', sans-serif;
			font-size: 5rem;
			font-weight: 700;
			line-height: 1;
			text-align: center;
			margin-bottom: 1rem;

		}
	.descriptionSubheadng{
		display: none;
		width: 100%;
		text-align: center;
		padding: 3rem 0px;
		font-size: 1.5rem;
	}
	.logoContainer{
		display: flex;
		margin: 0px auto;
		height: 24rem;
		width: 50%;
		object-fit:scale-down;
		& img{
			height: 100%;
			width: auto;
			margin: auto;
		}
	}
	.contactContainer{
		display:flex ;
		flex-direction: column;
		width: max-content;
		height:100vh;
		margin: auto;
		padding-top: 2rem;
		gap: 0.5rem;

	}

	.emailButton{
		display: flex;
		width: max-content;
		cursor: pointer;
		height: 100%;
		flex-direction: row;
		justify-content:flex-start;
		width: max-content;
		text-decoration: none;
		border: 4px solid black;
		border-radius: 0.5rem;
		margin: 0px auto;
		& span{
			display: flex;
			height: auto;
			text-decoration: none;
			margin:auto;
			padding: 1rem;
			font-size: large;
			font-weight: 600;

		}


	}
	#servicesHero {
		display: flex;
		flex-direction: column;
		height: 50vh;
		width: 50%;
		min-width: 400px;
		margin-inline: auto;
		padding-top: 3rem;
		& #servicesTitle{
			margin-inline: auto;
			width: max-content;

		}
		& .categoryContainer{
			display: flex;
			flex-direction: row;
			justify-content: space-around;
				& .category{
				display: flex;
				padding-inline: 1rem;
				
			}
		}
	}
}


</style>
