<div class="contractForm" style=" min-width: 400px; 
min-height: 800px;
border: 2px solid gray;
padding: 1rem;
">
	<div 
        class="contractHeader" 
        style=" 
            display: flex; 
            width: 100%; padding-bottom: 2rem; 
        ">
		<img src="https://res.cloudinary.com/daa3cj6jz/image/upload/v1717725094/blue-atlas-5000x4000-white-bg_e4iagg.png" 
            style=" 
                height:auto; 
                width: 10%;" 
            alt="Man Holding Up Scaffold and the world">
		<h1 style=" height:50px; width:max-content; margin: auto; padding-right: 10%; ">
		Service Contract
		</h1>
        
	</div>
    &nbsp; MycoScaffold will provide the following services starting on 13 July 2024.
	<br>
	<br>
	<span>
	</span><br>
  <div>
    <ul>
      <li>
          <span>Project Start:&nbsp;<div style="font-weight: 300;">13 July 2024</div></span> 
      </li>
    </ul>
</div>
<br>
    <table>
        <thead >
        <tr>
        <th>Item</th>
          <th>Description</th>
        </tr></thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Twin Lakes, CO, 39.082800, -106.381000 lkj lkj lkjl kjl kjlk jlkjl kjl kjlk jl kjlk jlkj lkj lkj lkj lkj lkj lkjlk jlkj lkj lk jl kjlkj lkj lkjlk jlk j</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Nathrop, CO, 38.731487, -106.171913</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Mogote, CO, 37.059440, -106.092200</td>
        </tr>
      </tbody>
      </table>

	<ol>
		<li>Set up scaffold (est 4 hours)</li>
		<li>Upon notice from&nbsp;<input type="button" name="contact.company_name" class="redactor_token" value="[contact] Company name">&nbsp;remove scaffold.</li>
	</ol>
	<br>
</div>

<style>
  table{
    border-radius: 1rem;
    border-spacing: 0;
  }
  ul{
    list-style: none;
  }
  th{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding-right: 1rem;

  }
  td{
    border-bottom: 2px solid black;
    min-width: max-content;
  }
tr :nth-child(1){
text-align: center;
}

</style>