
<div class="digitalContractOne"
    style="
        display:flex;
        flex-direction: column;
        width: auto;
        max-width: 1200px;
        margin: auto;
        gap: 1px;
        ">
    <div class="contractHeader" 
        style=" 
            display: flex; 
            width: 100%; 
            height: max-content;
            padding: 2rem;
            margin-top: 0px;
            margin-bottom: 1px;
    ">
        <div class="logoContainer" 
            style="
                display: flex;
                flex: 1;
            ">
            <img src="https://res.cloudinary.com/daa3cj6jz/image/upload/v1717725094/blue-atlas-5000x4000-white-bg_e4iagg.png" 
            style=" 
                height:100px; 
                margin-left: 0px;
                " 
            alt="Man Holding Up Scaffold and the world">

        </div>
        <div class="titleContainer"
            style="
                display: flex;
                flex-direction: column;
                flex: 3; 
                
                ">
            <h1 style="
                height:50px; 
                width: 100%;
                margin: auto;
                text-align: center;
                    ">
                    Service Contract
            </h1>
            <div style="
                display: flex;
                margin: auto;
                text-align: center;
                ">
                    (Digital Version)
            </div>
        </div>

        <div class="detailsBlock" 
            style=" 
                display:inline-table; 
                column-count: 2; 
                flex: 1; 
                height: max-content;
                margin: auto;
                padding: 0.25rem;
                font-size: x-small; 
                border: 1px solid black;
                ">
            <div style="display:table-header-group;">
                <div style="display: table-row;">
                    <div style="display: table-cell; text-align:right;">
                        Bid#:
                        <br>
                        StartDate:
                        <br>
                        Est EndDate:
                    </div>
                    <div style="display: table-cell; text-align:left; padding-left: 0.5rem;">
                        2tt7783
                        <br>
                        12 July 24
                        <br>
                        18 Aug 24
                    </div>
                </div>
            </div>
        </div> <!-- detailsBlock -->
    </div> <!-- contractHeader -->

    <div class="contractBody"
        style="
            display: flex;
            flex-direction: column;
            margin-top: 0px;
            padding-inline: 2rem;
        ">

    <ol class="contractOrderedList">
        <li><h4>Project Overview:</h4></li>
            <ul>
                <li> &nbsp;
                    The scaffolding project involves the installation of temporary scaffolding at a construction site to support workers while they perform their tasks on a building. The project is expected to take 6 weeks for completion.
                </li>
            </ul>
        <br>
        <li><h4>Site Access:</h4></li>
            <ul>
                <li> &nbsp;
                    Address: 123 Main Street, Anytown USA<br>
                </li>
            </ul>
        <br>
        <li><h4>Equipment List:</h4></li>
            <ol>
                <li> &nbsp;
                    Scaffolding components (adjustable aluminum beams, standard posts, swaging and clashing fittings)
                </li>
                <li> &nbsp;
                    Safety gear (protective helmets, safety harnesses, gloves)
                </li>
            </ol>
        <br>
        <li><h4>Work Schedule:</h4></li>
            <ul>
                <li> &nbsp;
                    The work will begin on April 1st and be completed by June 15th.
                </li>
            </ul>
        <br>
        <li><h4>Payment Terms:</h4></li>
            <ul>
                <li> &nbsp;
                    Myco Scaffold will receive a total payment of $25,000 upon completion of the project. An initial deposit of $5,000 is due at the time of signing the contract; the remaining balance will be due upon successful completion of the work.
                </li>
            </ul>
        <br>
        <li><h4>Insurance and Liabilities:</li></h4>
            <ol>
                <li> &nbsp;
                    Myco Scaffold carries general liability insurance with a minimum coverage of $1,000,000 per occurrence. 
                    
                </li>
                <br>
                <li> &nbsp;
                    The client is also responsible for providing their own workers' compensation coverage as required by law.
                </li>
                <br>
                <li> &nbsp;
                    Any injuries or incidents occurring on site are to be immediately reported to the appropriate authorities.
                </li>
            </ol>
        <br>
        <li><h4>Safety Measures:</h4></li>
            <ol>
                <li> &nbsp;
                    A safety plan will be implemented and followed throughout the project. This includes regular inspections of the scaffolding, proper training of all personnel involved, and a thorough safety briefing for each workday.
                </li>
            </ol>
        <br>
        <li><h4>Contract Termination:</h4></li>
            <ol>
                <li> &nbsp;
                    Either party may terminate this contract at any point by giving a 30-day written notice. If termination occurs due to the
                </li>
                <br>
                <li> &nbsp;
                    Upon termination, any outstanding payments for completed work will be promptly paid.
                </li>
            </ol>
        <br>
        <li><h4>Modifications and Addendums:</h4></li>
            <ol>
                <li> &nbsp;
                    Any changes or updates to the original agreement must be documented in writing and signed by both parties. 
                </li>
                <br>
                <li>  &nbsp;
                    verbal modifications or side agreements will not hold legal binding power.
                </li>
            </ol>
        <br>

    <li><h4>Signatures:</h4></li>
    </ol> <!-- contractOrderedList -->

    <div class="signaturesContainer">
        <div 
            class="signaturesDescriptionText"
            style=" 
                display: flex; 
                width: 100%; 
                padding:0px 4rem; 
            ">&nbsp;
            By Digitally signing their respective signatures below, the parties agree to the terms outlined within this contract for the scaffolding project.
        </div>
    <!-- <div 
        class="signaturesBlocks"
        style="
            display: flex;
            columns: 2;
            padding: 2rem;
            width: 100%;
            background-color: aquamarine;
            ">
            <div class="signaturesLeftSide"
                style="
                    display: flex;
                    flex-direction: column;
                    flex: 2;
                    gap: 2rem;
                ">
                <div class="client"
                style="
                display: flexbox;
                text-align: right;
                ">
                    Client:
        
                </div>
                <div class="companyRep"
                style="
                    display: flexbox;
                    text-align: right;
                ">
                    Myco Scaffold Representative:
        
                </div>

            </div>
            <div class="signaturesMiddle"
                style="
                    display:flex;
                    flex: 3;
                    flex-direction: column;
                    padding-left: 1rem;
                    gap:2rem;
                    ">
                <div class="clientSignature"
                    style="
                    display:flex;
                    height: 1rem;
                    border-bottom: 1px solid black;
                    ">
                </div>
                <div class="companyRepSignature"
                style="
                display:flex;
                height: 1rem;
                border-bottom: 1px solid black;
                ">
                    
        
                </div>

            </div>
            <div class="signaturesRightSide"
            style="
                display:flex;
                flex: 1;
                flex-direction: column;
                padding-left: 1rem;
                gap: 2rem;
                ">
            <div class="clientSignature">
                Date:

            </div>
            <div class="companyRepSignature">
                Date:

            </div>

        </div> -->


    </div>

        
        
    
    <br>
    <br>
    <br>
    <br>
    </div> <!-- contractBody -->
    <div class="contractFooter">


    </div> <!-- contractFooter -->

</div><!-- digitalContractOne -->