
<body style="
    height: auto;
    padding: 4rem 0px;
    width: 800px;
    ">
<div class="MHBSignatureBlock"
    style="
        display: flex;
        flex-direction: row;
        width: max-content;
        height: max-content;
        margin-top: 100px;
        padding: 1rem;
        border: 2px solid transparent;
        border-left-color: black;
        border-top-color: black;
        ">
    <div class="mhb-sig-logo-container"
        style="
            display: flex;
            height: 100%;
            margin: auto 0px;">
                <img src="./MHB-headshot-tiny.webp" height="100sds" 
                width="100"
                    style="
                        display: block;
                        border-radius:50%;
                        margin: auto;"
                    alt="Michael Bustillos Headshot"></img>
    </div>
    <div class="mhb-sig-text-container"
        style="
        display: flex;
        flex-direction: column;
        width: max-content;
        padding-inline: 1rem;
        ">
        <div class="sig-title" 
            style="display: flex;
            font-size: 2rem;
            font-weight: 600;
        ">
        Michael Bustillos
        </div>
        <div>Owner, Operator</div>
        <div>(916) 538-1551</div>
        <div>Michael@MycoScaffold.com</div>
        <div>MycoScaffold.com</div>
    </div>


</div>
<div class="MHBSignatureBlock"
    style="
        display: flex;
        flex-direction: row;
        width: 600px;
        height: max-content;
        margin-top: 100px;
        padding: 1rem;
        background-color: antiquewhite;
        border: 2px solid transparent;
        border-left-color: black;
        border-top-color: black;
        ">
    <div class="mhb-sig-logo-container"
        style="
            display: flex;
            height: 100%;
            margin: auto 0px;">
                <img src="./MHB-headshot-tiny.webp"      height="150" 
                width="150"
                    style="
                        display: block;
                        border-radius:50%;
                        margin: auto;"
                    alt="Michael Bustillos Headshot"></img>
    </div>
    <div class="mhb-sig-text-container"
        style="
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-inline: 1rem;
        ">
        <div class="sig-top-container" 
        style="
            display: flex;
            
        ">
    </div>
        <div class="sig-title" 
            style="display: flex;
            font-size: 2rem;
            font-weight: 600;
        ">
        Michael Bustillos
        </div>
        <div class="sig-title" 
        style="display: flex;
        width: 75%;
            border-bottom: 2px solid black;
            padding: 0.5rem 0px;
    ">
    <span style="
        font-weight: bold; 
        padding-right: 0.5rem;
        font-size: large;
        ">Owner / Operator</span>
    <span> MycoScaffold </span>

    <div id="imageContainer" 
        style="
            display: flex;
            height: 100%;
            margin: auto;
            background-color: aqua;
            ">
        <img src="https://mycoscaffold.com/images/logo-white-bg.png" width="50" height="60"/>
    </div>
    </div>
 
        <div 
            style="
                display: flex;
                width: 30rem;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 1rem;
                padding: 0.5rem 0px;
                ">

            <div style="
                display: flex; 
                flex-wrap: nowrap; 
                width: max-content;
                ">
                <a href="tel:916-538-1551" 
                    style="display: flex;">
                    <img src="../../icons/icon-phone-black-blue.svg" height="30" width="30">
                <div style="
                    color: blue; 
                    font-weight: bold; 
                    padding-right: 0.5rem;

                    ">

                </div>
                <span style="
                    display: flex; 
                    margin: auto 0px;
                ">
                
                (916) 538-1551
            
        </span> 
    </a>
            </div>  <!-- phone -->
            <div style="
                display: flex; 
                flex-wrap: nowrap; 
                width: max-content;
                ">
                <a href="mailto:Michael@MycoScaffold.com"
                    style="display: flex;"> 
                <div style="
                    color: blue; 
                    font-weight: bold; 
                    padding-right: 0.5rem;
                    ">

                    <img src="../../icons/icon-email-black-blue.svg" height="30" width="30">
                </div>
                <span style="
                display: flex; 
                margin: auto 0px;
                ">
Michael@MycoScaffold.com
                </span>
            </a>
            </div>   <!-- email -->
            <div style="
                display: flex; 
                flex-wrap: nowrap; 
                width: max-content;
                ">
                                    <a href="mailto:Michael@MycoScaffold.com"
                                    style="display: flex;"> 
                <div style="
                    color: blue; 
                    font-weight: bold; 
                    padding-right: 0.5rem;
                    ">
                    <img src="../../icons/icon-globe-black-blue-thinner.svg" height="30" width="30">
                </div>
                <span style="
                display: flex; 
                margin: auto 0px;
                ">
                    MycoScaffold.com</span>
                </a>
            </div> <!-- web url-->
        </div>

    </div> <!-- mhb-sig-text-container -->


</div>
</body>