<div id="sig-container" 
    style="
        display: flex;
        flex-direction: row;
        height: auto;
        width: max-content;
        padding: 1rem;
    ">
    <div id="sig-left-container" 
        style="
            display: flex;
            flex-direction: column;
            background-color: initial;
            width:max-content;
            padding-right: 0.5rem;
        ">
        <img 
            style="
                display: flex;
                align-self: center;
                border: 1px solid transparent;
                border-radius: 50%;
                " 
            src="./MHB-headshot-tiny.webp" width="160" height="160" 
alt="logo"/>
    </div>
    
    <div id="sig-right-container" 
        style="
            display: flex;
            flex-direction: column;">
        <div id="sig-top-container" 
            style="
                display: flex;
                flex-direction: row;
                border-color: transparent;
                border-width:2px;
                border-style: solid;
                padding-bottom: 0.25rem;
                border-bottom-color: black;">
            <div style="display: flex;flex-direction: row; width: 100%;">
                <div 
                    style="
                        display: flex;
                        flex-direction: column; 
                        margin: auto 0px;
                    ">
                    <div 
                        style="
                        font-weight: bold;
                        font-size: 2rem;
                    ">Michael Bustillos</div>
                    <div 
                        style="
                            font-weight: bold
                        ;">Owner / Operator</div>
                </div>
                <img src="../../icons/logoSmall.svg" width="60" height="80" alt="logo" style="display: flex; margin: auto"/>
            </div>
        </div>

        <div id="sig-bottom-container" style="display: flex;flex-direction: row;justify-content: space-between;padding-top:2px;font-weight: bold;">
            <div id="rowOne" style="display: flex;gap: 2rem;justify-content: flex-start;padding: 0.5rem 0px;">
                <a id="phone" href="tel:916-538-1551" 
                    style="
                    display: flex;
                    flex-direction: row;
                    width:max-content;
                    gap: 0.5rem;
                    cursor: pointer;
                ">
                    <img src="../../icons/icon-phone-black-blue.svg" height="30" width="30">
                    <span style="
                        display: flex;
                        margin: auto 0px;
                    ">(916) 538-1551</span>
                </a> <!-- phone -->
                <a id="email" href="mailto:Michael@MycoScaffold.com" 
                    style="
                        display: flex;
                        flex-direction: row;
                        width:max-content; 
                        gap: 0.5rem;
                        cursor: pointer;
                    ">
                    <img src="../../icons/icon-email-black-blue.svg" height="30" width="30">
                    <span style="
                    display: flex;
                    margin: auto 0px;
                ">Michael@MycoScaffold.com</span>
                </a>
            </div> <!-- email -->
        </div>

        <div id="sig-bottom-container" style="display: flex;flex-direction: row;justify-content: space-between;">
            <div id="rowTwo" style="display: flex;gap: 4px;font-weight: bold;">
                <a href="MycoScaffold.com" 
                    style="
                        display: flex;
                        flex-direction: row;
                        width: max-content;
                        gap: 0.5rem;
                        cursor: pointer;
                        ">
                    <div>
                        <img src="../../icons/icon-globe-black-blue-thinner.svg" height="30" width="30">
                    </div>
                    <span style="
                    display: flex;
                    margin: auto 0px;
                ">MycoScaffold.com</span>
                </a> <!-- web url-->
            </div>
        </div>

    </div> <!-- sig-right-container -->
</div>  <!-- sig-container -->