---
import settings from '../config/settings';
const logo = settings.logo;
const font = settings.mainFont;
import EmailButton from "./buttons/EmailButton.astro";
import PhoneButton from "./buttons/PhoneButton.astro";

const emailIcon = "../icons/"

const { seo } = Astro.props;

---
<div class="header">
    <div class="leftSide">
        <div class="logoTitle">
            <img class="headerLogo" src={logo} height="50" width="40"/>
            <div>MycoScaffold</div>
        </div>

    </div> <!-- leftSide -->

    <div class="rightSide">
        <div class="navigation">

            </nav>
        </div>
        <EmailButton/>
        
        <PhoneButton/>
       

    </div> <!-- rightSide -->



</div>

<style>
    	:root {	
        --vivid-sky-blue: #0efffb;
    }
    .header{
        display: flex;
        flex-direction: row;
        width: 100%;
        min-width: 400px;
        height: 5%;
        min-height: 4rem;
        margin-top: 0px;
        justify-content: space-between;
    }
    .logoTitle{
        display: flex;
        flex-direction: row;
        margin: auto;
        height: max-content;
        vertical-align: middle;
        padding-top: 0.5rem;
        color: #f0f8ff;

        & div{
            margin: auto;
            margin-left: 2rem;
            font-size: 2rem;
            font-family: 'Stick No Bills Variable', sans-serif;
        }
    }
    .headerLogo{
            display: none;
        }
    .title{
        margin: auto;
    }
    .rightSide{
        display: flex;
        flex-direction: row;
        padding-top: 1rem;
        padding-inline: 0.5rem;
        gap: 0.5rem;
    }
@media screen and (min-width: 1100px) {
    .rightSide {
        display: none;
    }

}


</style>