<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

    </style>
</head>
<body>
    <main>
        <div class="careerApplicationContainer">
            <div class="applicationHeader">
                <div class="applicationTitle"><h1>application title</h1></div>
                <div class="applicationCompanyInfoLogo">
                    <div>LOGO</div>
                    <div>Company Name</div>
                    <div>Company address</div>
                    <div>Company address</div>
                    <div>Company Info</div>
                </div>

            </div>
            
            <div class="applicationBody">application body
                <div class="bodyColOne">body col one</div>
                <div class="bodyColTwo">body col two</div>
                <div class="bodyColThree"> body col three</div>
            </div>
            <div class="applicationFooter">application footer</div>

            

          </div>
    </main>
</body>
</html>

<!-- https://www.scaffoldingsolutions.com/employment/ -->