{{- if not (.Site.Params.homepage.disableAboutSection) }}
<section 
  id="heroHomeAbout"
>
  <hgroup class="text-center">
    <h2>{{.Site.Params.homepage.aboutTitle}}</h2>
    <h3>{{.Site.Params.homepage.aboutDescription}}</h3>
  </hgroup>
  <div class="container">
    <div class="grid">

      <div class="container" style="text-align: right;">
        <img
        class="blueAtlas"
          src="{{.Site.Params.homepage.aboutImgUrl}}"
          alt="{{.Site.Params.author}}"
        ></img>
      </div>
      <div class="container">
        &nbsp; &nbsp; {{.Site.Params.homepage.aboutContent}}
      </div>
    </div>
  </div>
</section>
{{ end }}
