<div 
  class="heroHome" 
  style="background-image:linear-gradient(rgba(20,30,38, 0.9), rgba(24,44,54, 0.8)),
url('{{.Site.Params.homepage.heroBackgroundImage}}'); ">
  <div class="home-hero-image-container">
    <img 
      src="{{.Site.Params.homepage.heroCTAImage}}" 
      alt="{{.Site.Params.homepage.heroCTAImageAltText}}"/>
  </div>
  <div class="home-hero-text-container">
    <hgroup>
      <!-- <h1 class="contrast-text stick-no-bills">
        {{.Site.Params.homepage.heroUpperTitle}}
      </h1> -->
      <h1 class="contrast-text" id="homeHeroTitle">{{.Site.Params.homepage.heroTitle}}</h1>
      <h2>{{.Site.Params.homepage.heroDescription}}</h2>
    </hgroup> 
    <div id="home-hero-buttons">
      <a
        class="hero-buttons button"
        href="{{ .Site.Params.homepage.heroCTAPrimaryUrl | relURL  }}"
        role="button"
        >{{.Site.Params.homepage.heroCTAPrimaryText}}</a
      >
      <a
        href="{{ .Site.Params.homepage.heroCTASecondaryUrl | relURL  }}"
        role="button "
        class="button contrast-outline contrast-text hero-buttons animate-hover"
        >{{.Site.Params.homepage.heroCTASecondaryText}}</a
      >
    </div>

</div>

</div>