<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" onclick="closeModal();">&times;</span>
        <div class="row">
            <div class="modal-column" style="border: 5px double red">
                <img src="/img/PlanyourmoneyModal.png" alt="Financial Planning, Goal Planning" class="modal-image">
            </div>
            <div class="modal-column">
                <form action="https://getform.io/f/4804d94b-8f1b-4a05-a679-7da0ba070952" method="POST">
                    <label for="id_name" class="modal-label"> Name </label>
                    <input type="text" name="name" id="id_name" class="modal-input">
                    <label for="id_email" class="modal-label"> Email </label>
                    <input type="email" name="email" id="id_email" class="modal-input">
                    <label for="id_message" class="modal-label"> Message </label>
                    <textarea name="message" id="id_message" class="modal-textarea"> </textarea>
                    <input id="id_submit" class="modal-submit" name="submit" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>