---
import QuoteButton from '../buttons/QuoteButton.astro';
import CarouselReact from '../images/CarouselReact';
import Button from '../buttons/Button.astro';

const {content } = Astro.props;

// const project = content;
// const title = project.title;
// const photosArray = [];
// const getPhotosArray = () => {
//   if(project == undefined || project == null || project.length === 0) {
//     console.log("no images found using getPhotosArray")
//     return [{title: "no images found"}]
// } else {
//   console.log("inside getphotosarray", project)
//     const photosArray = project.content.photos;
//     return photosArray

// }
// }
// console.log('project photos', photosArray)
// console.log('project content', content)


---



  <section>
   
    
    <!-- Trigger/Open The Modal -->
    <Button id="myBtn">View Project</Button>
    
    <!-- The Modal -->
    <div id="myModal" class="modal">
    
      <!-- Modal content -->
      <div class="modal-content">

        <div class="modal-header">
          <span class="close">&times;</span>
          <h2>Project Title</h2>
        </div>

        <div class="modal-body">

        
 
          <!-- <div id="modal-container-left"> 
            <img src='https://images.pexels.com/photos/17745340/pexels-photo-17745340/free-photo-of-construction-workers-standing-on-the-scaffolding-outside-of-a-building-in-city.jpeg'>
            <img src='https://images.pexels.com/photos/379960/pexels-photo-379960.jpeg'>
            <img src='https://images.pexels.com/photos/17346602/pexels-photo-17346602/free-photo-of-worker-climbing-steel-ladder.jpeg'>
            <img src='https://images.pexels.com/photos/17745340/pexels-photo-17745340/free-photo-of-construction-workers-standing-on-the-scaffolding-outside-of-a-building-in-city.jpeg'>
          </div> -->
          <div id="modal-container-left"> 
            <!-- <CarouselReact photos={content.photos} client:only="react" /> -->
          </div>

          <div id='modal-container-right'>

            <div class="project-description"> 

            </div>

            <div id="modal-container-right-footer">
              <div class="quote-button-container">  
                <QuoteButton />
              </div>
              <div class="testimonial-card"> 
                testimonial card
              </div>
            </div>
          </div>
    
        </div>

    
    </div>
  </section>
<!-- 
  <script>
    // Get the modal
    var modal = document.getElementById("myModal");
    
    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");
    

    // var span = document.getElementsByClassName("close")[0];
    const span: HTMLElement = document.getElementsByClassName("close")[0] as HTMLElement;
    
    // When the user clicks the button, open the modal 
    btn.onclick = function() {
      modal.style.display = "block";
    }
    
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script> -->

  <style>
    section {font-family: Arial, Helvetica, sans-serif;}
    
    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      -webkit-animation-name: fadeIn; /* Fade in the background */
      -webkit-animation-duration: 0.4s;
      animation-name: fadeIn;
      animation-duration: 0.4s;
      overflow: scroll;
      & .modal-content {
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 1rem;
        height: 90vh;
        background-color: var(--theme-surface-1);
        width: 100%;
        -webkit-animation-name: slideIn;
        -webkit-animation-duration: 0.4s;
        animation-name: slideIn;
        animation-duration: 0.4s;
        overflow: scroll;
      }
    }
    .modal-body {
          display: flex;
          flex-direction: row;
          height: 60vh;
          min-height: 600px;
          width: 100%;
          padding: 2px 16px;
    }
    #modal-container-left {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 50%;
    }
    #modal-container-right {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 50%;
      justify-content: space-between;
      & .project-description {
        padding: 2rem 1rem;
      }
      & #modal-container-right-footer {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 1rem;

        & .quote-button-container{
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 50%;
        }
        & .testimonial-card{
          display: flex;
          aspect-ratio: 4/3;
          width: 50%;
          margin: auto;
          background-color: rgba(0, 0, 255, 0.546);
          box-shadow: 4px 4px 8px black;
        }
      }

    }
    
    /* Modal Content */
    
    
    /* The Close Button */
    .close {
      color: white;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: #0000;
      text-decoration: none;
      cursor: pointer;
    }
    
    .modal-header {
      padding: 2px 16px;
      background-color: var(--theme-surface-1);
      color: white;
      position: sticky;
      top: 0;
      z-index: 4;
    }
    
  
  
    
    .modal-footer {
      padding: 2px 16px;
      background-color: var(--theme-surface-1);
      color: var(--theme-surface-2);
    }
    
    /* Add Animation */
    @-webkit-keyframes slideIn {
      from {bottom: -300px; opacity: 0} 
      to {bottom: 0; opacity: 1}
    }
    
    @keyframes slideIn {
      from {bottom: -300px; opacity: 0}
      to {bottom: 0; opacity: 1}
    }
    
    @-webkit-keyframes fadeIn {
      from {opacity: 0} 
      to {opacity: 1}
    }
    
    @keyframes fadeIn {
      from {opacity: 0} 
      to {opacity: 1}
    }
    </style>