---
import { Button, TextSection } from '@components/odyssey-theme';
const quoteLink = '/company/estimate';
---

<a href={quoteLink}><Button onPrimary outlined>Get a Quote</Button></a>

<style>
	a {
		display: flex;
		width: max-content;
		height: max-content;
		margin: 0px auto;
		font-weight: 800;
		text-decoration: none;
	}
</style>
