
:root {
  --spacing-hero: 5rem;
  --font-stencil: "stick-no-bills";
  --border-radius: 0.3rem !important;
  --vivid-sky-blue: #2ec4efff  !important;
  --sunset: #ebcc9dff  !important;
  --silver: #a7a7a7ff !important;
  --silver-dark: #394046;
  --black-ish: #00000f !important;
  --white: #ffffff !important;
  --white-ish: #edf0f3 !important;
  --primary-bg-light: var(--white-ish);
  --font-size-sm: clamp(14.4px, 0.07vw + 14.13px, 15px);
	--font-size-base: clamp(18px, 0.23vw + 17.09px, 20px);
	--font-size-md: clamp(22.5px, 0.47vw + 20.61px, 26.66px);
	--font-size-lg: clamp(28.13px, 0.84vw + 24.76px, 35.54px);
	--font-size-xl: clamp(35.16px, 1.39vw + 29.6px, 47.37px);
	--font-size-xxl: clamp(43.95px, 2.18vw + 35.22px, 63.15px); 
	--font-size-xxxl: clamp(54.93px, 3.32vw + 41.64px, 84.17px);
  --media-min-width:574px;
  --media-md-width: 700px;
  --media-max-width: 1200px;
}


/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --muted-color: #4b555c !important;
  --link-color: #27455a !important;
}

/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --muted-color: #8fa3b1 !important;
    --link-color: var(--vivid-sky-blue);
  }
}

/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --muted-color: #8fa3b1 !important;
  --link-color: var(--vivid-sky-blue);
}


*,
::after,
::before {
  box-sizing: border-box;
}

html {
  display: flex;
width: 100vw;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;


}
body {
  display: flex;
  flex-direction: column;
  width: 100%;

  margin-inline: auto;
}
main{
  display: flex;
  width: 100%;
  min-width: 350px;

}
.iframe{
  border: 2px solid black;
  box-shadow: 3px 3px 6px black;
}
.button{
  display: flex;
  align-items: center;
  vertical-align: middle;
  padding: 0.5rem 1rem;
  border: 2px solid transparent;  
}
.button-small{
  font-size: 0.5rem;
}
.contrast-text{
  color: var(--white-ish);
}
.contrast-outline{
  border-color: var(--white-ish);
}
.list-no-decor{
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}
.animate-hover {
  animation: hover 0.3s ease;
  transform: scale3d(1.05, 1.05, 1.05);
}

.heroHome {
  display: flex;
  flex-direction:row;
  justify-content: center;
  background-color: var(--silver-dark);
  background-position: center;
  background-size: cover;
  margin-inline: auto;


  & #home-hero-buttons{
    display: flex;
    width: max-content;
    padding: 1rem;
    margin: 0px auto;
    vertical-align: middle;
    & .hero-buttons {
      display: flex;

    
    }
  }


}

.home-hero-image-container {
  display: flex;
  flex-direction: column;
  width: auto;
  min-width: 300px;
  max-width: 600px;
  padding: 2rem;
  & img{
    display: flex;
    width: 100%;
    margin: auto 0px;

  }
}
.home-hero-text-container{
 display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0%;
  padding-inline: 1rem;
  justify-content: center;
  & hgroup{
    display: flex;
    margin: 0px;
    margin-inline: auto;
    width: 100%;
    flex-direction: column;
    text-align: center;
    & #homeHeroTitle{
      display: flex;
      width: max-content;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      letter-spacing: 3px;
      font-size: var(--font-size-xxxl);
      margin-inline: auto;
    }
    & h2 {
      width: 75%;
      margin-inline: auto;
    }
  }

}

.logo {
  width: fit-content;
  display: flex;
  align-items: center;
}

@media (min-width: 0px) and (max-width: 1200px) {
  main {
    margin-top: 50px;


  }
}
@media (min-width: 0px) and (max-width: 700px) {

  .heroHome {
    display: flex;
    flex-direction: column;
  width: 100%;
  margin: auto;
  }
  .home-hero-text-container{
    display: flex;
    padding-right: 1rem;
      & hgroup{
        display: flex;
        & #homeHeroTitle{
          font-size: var(--font-size-xxl);
        }
        & h2 {
          display: flex;
        }
      }

    }
  .home-hero-image-container{
    margin: auto;
    width: 50%;
    padding: 0px;
  }

}
@media (min-width: 0px) and (max-width: 575px) {
  body{
    display: flex;
    width: 400px;
  }
  main {
    display: flex;
    width: 100%;
    margin-inline: auto;
  .home-hero-text-container{
    display: flex;
      & hgroup{
        display: flex;
        & #homeHeroTitle{
          font-size: var(--font-size-xl);
        }
        & h2 {
          width: 100%;
          padding-inline: 0.5rem;
        }
      }

    }
  }
}

img {
  object-fit: cover;
}

.text-center {
  text-align: center;
}

.button,
kbd {
  margin: 10px;
}
img,
.button {
  border-radius: var(--border-radius);
}

a {
  text-decoration: none !important;
  color: var(--link-color);
}

.grid {
  article {
    padding: calc(var(--spacing) * 1.2) var(--block-spacing-horizontal);
    margin: 1rem 0;
  }
}

@media (min-width: 992px) {
  .grid-post {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}
@media (min-width: 992px) {
  .grid-main {
    grid-template-columns: 2fr 1fr !important;
  }
}

.toc {
  padding: 2rem 1.2rem 1rem 1.2rem;
}

.share-buttons {
  background: var(--card-background-color);
  padding: 10px;
  border-radius: var(--border-radius);
  box-shadow: var(--card-box-shadow);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.65rem;
  svg {
    color: var(--contrast) !important;
    width: 1.875rem;
    height: 1.875rem;
  }
}



.search-result {
  background: var(--card-background-color);
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--card-box-shadow);
  margin: 10px 0;
  hgroup {
    margin: 0;
  }
  h6 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.cover {
  float: left;
  margin: 0 20px 0 0;
  width: 300px;
  max-width: 100%;
  pointer-events: none;
}
@media (min-width: 0px) and (max-width: 576px) {
  .cover {
    float: none;
    margin: 10px auto;
  }
}

.post {
  &::first-letter {
    font-size: 300%;
    padding: 0px 5px 0px 0px;
    margin: -15px 6px -15px 0;
    float: left;
  }
}

.highlight,
code,
pre {
  position: relative !important;
}

.copy-code {
  z-index: 99;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 4px;
  right: 4px;
  color: rgba(255, 255, 255, 0.8);
  background: rgba(78, 78, 78, 0.8);
  border-radius: var(--border-radius);
  padding: 0 5px;
  font-size: 14px;
  user-select: none;
}

.highlight:hover,
code:hover,
pre:hover {
  .copy-code {
    display: block;
  }
}

.page-item.active {
  font-size: larger;
  font-weight: bold;
}

.archive-posts {
  width: 100%;
  font-size: 16px;
}

.archive-year {
  margin-top: 40px;
}

.archive-year:not(:last-of-type) {
  border-bottom: 2px solid var(--border);
}

.archive-year-header {
  text-align: center;
}

.archive-month {
  display: flex;
  align-items: flex-start;
  padding: 10px 0;
}

.archive-month-header {
  margin: 25px 0 25px auto;
  width: 200px;
}

.archive-month:not(:last-of-type) {
  border-bottom: 1px solid var(--border);
}

.archive-entry {
  position: relative;
  padding: 5px;
  margin: 10px 0;
}

.archive-entry-title {
  margin: 5px 0;
  font-weight: 400;
}

.archive-count,
.archive-meta {
  color: var(--secondary);
  font-size: 14px;
}

.entry-link {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.anchor,
.hidden {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &:hover {
    .anchor {
      cursor: pointer;
      display: inline-flex;
      margin-inline-start: 8px;
      font-weight: 500;
      user-select: none;
    }
  }
}

.min-h-80 {
  min-height: 80vh;
}

kbd,
.grid-post article,
a[role='button'],
.search-result,
.portfolio-post {
  transition: 0.3s ease;
  &:hover {
    animation: hover 0.3s ease;
    transform: scale3d(1.05, 1.05, 1.05);
  }
}

#cookie-banner {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 10%;
  right: 10%;
  z-index: 100;
  opacity: 0.9;
  & div {
    display: flex;

    & span{
      display: flex;
      width: max-content;
      margin-inline: auto;
    }
  }
  & footer{
    display: flex;
    flex-direction: row;
  }
}

@keyframes hover {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.08, 1.08, 1.08);
  }
  100% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
}

.rounded-sm{
  border: 2px solid transparent;
  border-radius: 0.5rem;
}
.rounded-md{
  border: 2px solid transparent;
  border-radius: 1rem;
}
.rounded-lg{
  border: 2px solid transparent;
  border-radius: 1.5rem;
}

.stencil {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.headerImageContainer{
  display: flex;
  width: 100%;
  margin-inline: auto;
  max-height: 200px;
  position: relative;
  & .headerImage{
    display: flex;
    width: auto;
    object-fit: cover;
    width: 100%;
    margin-inline: auto;
    border-radius: 0%;
  }
  & .photo-attr{
    display: flex;
    position: absolute;
    width: max-content;
    height:max-content;
    bottom: -10px;
    right: 5px;
    text-wrap: nowrap;
font-size: 50%;
  }
}


#footer-container{
  display:flex;

  min-height: 4rem;
padding-inline: 2rem;
font-size: var(--font-size-sm);
  & div{

    overflow: hidden;
  }
  & #footer-col-left{
    display:flex;
    flex: 1;
  }
  & #footer-col-middle{
    display:flex;
    flex-direction: column;
    text-align: center;
    flex: 3;
  }
  & #footer-col-right{
    display:flex;
    flex: 1;
  }
}

#servicesHero {
  display: flex;
  flex-direction: column;
  min-height: 35vh;
  width: 100%;
  max-width: 600px;
  margin-inline: auto;
  padding-top: 3rem;
  & #servicesTitle{
    margin-inline: auto;
    width: max-content;

  }
  & .categoryContainer{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
      & .category{
      display: flex;
      padding-inline: 1rem;
      
    }
  }
}
#aboutHero {
  display: flex;
  flex-direction: column;
  & .container{
    display: flex;
    flex-direction: row;

  }

}
.blueAtlas {
  display: flex;
  height: 300px;
  margin-inline: auto;
}
